@font-face {
   font-family: "Sans";
   src: url("/assets/fonts/ROsanswebtextregular.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROsanswebtextregular.woff") format("opentype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "Sans";
   src: url("/assets/fonts/ROsanswebtextitalic.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROsanswebtextitalic.woff") format("opentype");
   font-style: italic;
   font-weight: normal;
}
@font-face {
   font-family: "Sans";
   src: url("/assets/fonts/ROsanswebtextbold.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROsanswebtextbold.woff") format("opentype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Serif";
   src: url("/assets/fonts/ROserifwebregular.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROserifwebregular.woff") format("opentype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "Serif";
   src: url("/assets/fonts/ROserifwebitalic.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROserifwebitalic.woff") format("opentype");
   font-style: italic;
   font-weight: normal;
}
@font-face {
   font-family: "Serif";
   src: url("/assets/fonts/ROserifwebbold.eot?") format("embedded-opentype"),
        url("/assets/fonts/ROserifwebbold.woff") format("opentype");
   font-weight: bold;
   font-style: normal;
}


