<mat-toolbar color="primary" class="sub-header">Typography</mat-toolbar>
<main>

  <h1>
    Headers
  </h1>



  <h1>This is a &lt;h1&gt; title</h1>
  <app-code [code]="{html:'<h1>This is a H1 title</h1>'}"></app-code>
  <p>H1 headers are used for ON PAGE, This is NOT a header or page Title</p>

  <h2>This is a &lt;h2&gt; title</h2>
  <app-code [code]="{html:'<h2>This is a H2 title</h2>'}"></app-code>

  <h3>This is a &lt;h3&gt; title</h3>
  <app-code [code]="{html:'<h3>This is a H2 title</h3>'}"></app-code>


  <h1>
    Text
  </h1>
  <h2>
    Tags and classes
  </h2>
  <p>
    Normal text can fit in side &lt;span&gt; or &lt;p&gt;
    <br>
    The <span class="mat-caption">class="mat-caption"</span> property makes your text smaller
  </p>
  <app-code [code]="{html:'<span class=&quot;mat-caption&quot;></span>'}"></app-code>

  Sometimng about Bold and Italic, weight


</main>